<div class="row" style="padding-top: 50px;">
  <div class="col-md-4 row">
    <div class="col-sm-4">
      <img src="assets/smith.png" style="padding-top: 70px; padding-left: 50px;">
    </div>
    <div class="col-sm-8" style="padding-top: 20px;">
     <div class="arrow_box" style="z-index: 50;background-color: white" *ngIf="smithSay" [innerHTML]="smithSay"></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Перечень рун через запятую" #serchRunes value="" (keydown)="onKey($event, serchRunes.value)">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="getCombinattions(serchRunes.value)">Найти</button>
      </span>
    </div>
      <div> </div>
      <div style="max-height: 700px;overflow-y: auto" class="table-responsive">
        <table class="table" *ngIf="result">
            <tr>
                <th scope="col">1 руна</th>
                <th scope="col">2 руна</th>
                <th scope="col">3 руна</th>
                <th scope="col">Бонус</th>
            </tr>
            <tr *ngFor="let combo of result">
                <td>
                    <img src="{{runesNames[combo['runes'][0][0]][2]}}" width="35" height="35" [title]="runesNames[combo['runes'][0][0]][0]">({{combo['runes'][0][0]}})
                </td>
                <td>
                    <img src="{{runesNames[combo['runes'][0][1]][2]}}" width="35" height="35" [title]="runesNames[combo['runes'][0][1]][0]">({{combo['runes'][0][1]}})
                </td>
                <td>
                    <img src="{{runesNames[combo['runes'][0][2]][2]}}" width="35" height="35" [title]="runesNames[combo['runes'][0][2]][0]">({{combo['runes'][0][2]}})
                </td>
                <td>
                    {{combo['runes'][1]}}
                </td>
            </tr>
            <tr *ngFor="let combo of mbresult">
                <td>
                    <img [class.absent]="(combo['found'].indexOf(combo['runes'][0][0]) == -1)" src="{{runesNames[combo['runes'][0][0]][2]}}" width="35" height="35" [title]="runesNames[combo['runes'][0][0]][0]">({{combo['runes'][0][0]}})
                </td>
                <td>
                    <img [class.absent]="(combo['found'].indexOf(combo['runes'][0][1]) == -1)" src="{{runesNames[combo['runes'][0][1]][2]}}" width="35" height="35" [title]="runesNames[combo['runes'][0][1]][0]">({{combo['runes'][0][1]}})
                </td>
                <td>
                    <img [class.absent]="(combo['found'].indexOf(combo['runes'][0][2]) == -1)" src="{{runesNames[combo['runes'][0][2]][2]}}" width="35" height="35" [title]="runesNames[combo['runes'][0][2]][0]">({{combo['runes'][0][2]}})</td>
                <td>
                {{combo['runes'][1]}}
                </td>
          </tr>
        </table>
      </div>
  </div>
  <div class="col-md-3">
    <div class="card-columns">
      <div *ngFor="let key of runesKeys" class="runeDiv">
       <img class="runeImg" src="{{runesNames[key][2]}}" width="50" height="50" (click)="serchRunes.value = serchRunes.value + key +','" [title]="runesNames[key][1]" data-toggle="tooltip">
        <small>({{key}}) {{runesNames[key][0]}}</small>
      </div>
    </div>
  </div>
</div>