.padding0{
    padding: 0;
}

.runeImg:hover{
    border-radius: 8px;
    border:1px solid black;
}
.runeImg:active{
    border:1px solid red;
}
.absent{
    background-color: red;
    border-radius: 10px;
}
ul li{
    padding: 2px;
}
