<div class="row" style="padding-top: 50px;">
  <div class="col-md-4 row">
    <div class="col-sm-4">
      <img src="assets/smith.png" style="padding-top: 70px; padding-left: 50px;">
    </div>
    <div class="col-sm-8" style="padding-top: 20px;">
     <div class="arrow_box" style="z-index: 50;background-color: white" *ngIf="smithSay" [innerHTML]="smithSay"></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Введите часть текста вопроса" #serchQuests value="" (keydown)="onKey($event,serchQuests.value)">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="getQuests(serchQuests.value)">Найти</button>
      </span>
    </div>
    <div> </div>
    <div id="accordion" style="max-height: 700px;overflow-y: auto">
      <div class="card" *ngFor="let question of resultQuestions; index as i">
        <div class="card-header" [id]="'heading' +i">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i">
                <div style="white-space: normal;">{{question.question}}</div>
            </button>
          </h5>
        </div>
        <div [id]="'collapse' + i" class="collapse " [attr.aria-labelledby]="'heading' + i" data-parent="#accordion">
          <div class="card-body">
            <ul>
                <li *ngFor="let answer of question.answers"
                    [class.bgGreen]="question.correct == answer"
                    [class.answer]="question.correct == ''"
                    (click)="(question.correct == '') ? addAnswer($event, question, answer) : false"
                >{{answer}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>