<div class="row">
  <div class="col-2">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-basics-list" data-toggle="list" href="#list-basics" role="tab" aria-controls="basics">Основы</a>
      <a class="list-group-item list-group-item-action" id="list-stats-list" data-toggle="list" href="#list-stats" role="tab" aria-controls="stats">Характеристики</a>
      <a class="list-group-item list-group-item-action" id="list-xptable-list" data-toggle="list" href="#list-xptable" role="tab" aria-controls="xptable">Таблица опыта</a>
      <a class="list-group-item list-group-item-action" id="list-equipment-list" data-toggle="list" href="#list-equipment" role="tab" aria-controls="equipment">Экипировка</a>
        <a class="list-group-item list-group-item-action" id="list-enchantingitems-list" data-toggle="list" href="#list-enchantingitems" role="tab" aria-controls="enchantingitems">Улучшение экипировки</a>
        <a class="list-group-item list-group-item-action" id="list-bosses-list" data-toggle="list" href="#list-bosses" role="tab" aria-controls="bosses">Боссы</a>
        <a class="list-group-item list-group-item-action" id="list-greedytower-list" data-toggle="list" href="#list-greedytower" role="tab" aria-controls="greedytower">Жадная башня</a>
        <a class="list-group-item list-group-item-action" id="list-runes-list" data-toggle="list" href="#list-runes" role="tab" aria-controls="runes">Руны</a>
        <a class="list-group-item list-group-item-action" id="list-monsters-list" data-toggle="list" href="#list-monsters" role="tab" aria-controls="monsters">Монстры</a>
        <a class="list-group-item list-group-item-action" id="list-uniqueitems-list" data-toggle="list" href="#list-uniqueitems" role="tab" aria-controls="uniqueitems">Уникальные вещи</a>
        <a class="list-group-item list-group-item-action" id="list-sets-list" data-toggle="list" href="#list-sets" role="tab" aria-controls="sets">Наборы</a>
        <a class="list-group-item list-group-item-action" id="list-weapon-list" data-toggle="list" href="#list-weapon" role="tab" aria-controls="weapon">Оружие</a>
        <a class="list-group-item list-group-item-action" id="list-rings-list" data-toggle="list" href="#list-rings" role="tab" aria-controls="rings">Бижутерия</a>
        <a class="list-group-item list-group-item-action" id="list-drop-list" data-toggle="list" href="#list-drop" role="tab" aria-controls="drop">Таблица дропа</a>
    </div>
  </div>
  <div class="col-4">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-basics" role="tabpanel" aria-labelledby="list-basics-list">
Игровая механика

В Greedy Cave вам нужно будет ходить по пещерам искать тайники, убивать монстров, отгадывать задания и прочие головоломки. Убивая монстров, вы получите опыт, экипировку, и различные ресурсы.
Разумеется, как только вы наберете достаточное количество опыта – вы повысите уровень персонажа и получите очки для улучшения ваших навыков и характеристик.
Если вы не успеете убежать и умрете от какого-либо монстра, вы потеряете весь прогресс, который получили за свой поход в пещере: экипировку, ресурсы, золото, опыт. Разочарованы, да? Эта игра не для слабаков!

Внутри пещеры

В пещеру вы можете брать только золотые вещи так же, как и уходя из пещеры. В инвентаре в итоге останутся только вещи с золотой рамкой, запомните это!
Выйти из пещеры можно тремя способами: использовать свиток выхода из пещеры, нажать кнопку выйти из пещеры, убить финального босса. Если вы выходите из пещеры этими способами, то вы не теряете свой прогресс, а также вы сохраняете точки возврата (каждые 10 этажей), и сможете туда вернуться в любой момент. Каждые 20 этажей вы будете встречать боса, необходимо его победить что бы пройти дальше сохранить точку возврата.
Внутри пещеры вы можете использовать свиток снятия тумана войны с мини карты, тем самым будет проще найти кротчайший путь до выхода на следующий этаж или до сокровища. Сокровища бывают трех типов: груда костей, золотые сосуды, и сундуки. В свою очередь сундуки бывают из дерева, золота и синий - украшенный самоцветами. Используя золотые статуи, найденные в пещере, вы можете превратить обычные предметы в золотые и в дальнейшем забрать их из пещеры. Так же вы встретите разноцветные символы на полу - это руны, как только наступите на нее, получите бонус к своим характеристикам.

Поднятие уровня

Как только вы наберете достаточное количество опыта - вы поднимете уровень вашего персонажа и получите возможность увеличить ваши характеристики. Вложив 5 очков в характеристики, вам откроется возможность изучить одно из двух новых умений.

Инвентарь

Изначально у вас будет 21 слот в инвентаре, их количество можно увеличить с помощью кристаллов. Важно использовать ваш инвентарь максимально эффективно что бы забрать все сокровища из пещеры.

Слоты экипировки.
У вашего персонажа есть 8 слотов для экипировки, проследите что бы они небыли пустыми.
У каждого предмета снаряжения есть показатель редкости, отмеченный звездочкой, этот балл учитывается в показателе могущества вашего персонажа.
</div>
      <div class="tab-pane fade" id="list-stats" role="tabpanel" aria-labelledby="list-stats-list">Характеристики</div>
      <div class="tab-pane fade" id="list-xptable" role="tabpanel" aria-labelledby="list-xptable-list">Таблица опыта</div>
      <div class="tab-pane fade" id="list-equipment" role="tabpanel" aria-labelledby="list-equipment-list">Экипировка</div>
        <div class="tab-pane fade" id="list-enchantingitems" role="tabpanel" aria-labelledby="list-enchantingitems-list">Улучшение экипировки</div>
        <div class="tab-pane fade" id="list-bosses" role="tabpanel" aria-labelledby="list-bosses-list">Боссы</div>
        <div class="tab-pane fade" id="list-greedytower" role="tabpanel" aria-labelledby="list-greedytower-list">Жадная башня</div>
        <div class="tab-pane fade" id="list-runes" role="tabpanel" aria-labelledby="list-runes-list">Руны</div>
        <div class="tab-pane fade" id="list-monsters" role="tabpanel" aria-labelledby="list-monsters-list">Монстры</div>
        <div class="tab-pane fade" id="list-uniqueitems" role="tabpanel" aria-labelledby="list-uniqueitems-list">Уникальные вещи</div>
        <div class="tab-pane fade" id="list-sets" role="tabpanel" aria-labelledby="list-sets-list">Наборы</div>
        <div class="tab-pane fade" id="list-weapon" role="tabpanel" aria-labelledby="list-weapon-list">Оружие</div>
        <div class="tab-pane fade" id="list-rings" role="tabpanel" aria-labelledby="list-rings-list">Бижутерия</div>
        <div class="tab-pane fade" id="list-drop" role="tabpanel" aria-labelledby="list-drop-list">Таблица дропа</div>
    </div>
  </div>
</div>