<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"><img src="assets/logo.png" width="120" height="50"></a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/runes">Комбинации рун</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/quests">Решебник заданий</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/guide">Гайд по игре</a>
      </li>
    </ul>
  </div>
  <span class="navbar-text">
    Есть идеи? <a href="mailto:ivain@bk.ru">напиши мне</a>
  </span>
</nav>