/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
body {
    height: 100%;
    width: 100%;
    position: absolute;
}
.container-fluid,
.row-fluid { height: inherit; }
.arrow_box {
    position: relative;
    border: 1px solid #000000;
    border-radius: 18px;
    padding: 8px;
    min-height: 100px;
}
.arrow_box:after, .arrow_box:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(200, 209, 199, 0);
    border-right-color: white;
    border-width: 30px;
    top: 50%;
    margin-top: -30px;
}
.arrow_box:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000000;
    border-width: 31px;
    top: 50%;
    margin-top: -31px;
}

.card-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}